<!-- views/partials/_header.ejs -->

<!-- header to be used on all pages -->

<div class="header clearfix">
    <nav>
      <form action="/urls/login" method="POST" style="margin:150px">
      <label for="longURL">Enter a Username </label>
      <input id="longURL" type="text" name="username" placeholder="Enter Username" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    </nav>
</div>