<!-- views/urls.show.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <header>
    <% include partials/_header %>
</header>

<div class="container">
    <div class="jumbotron">
     <h2>Site Shortened!</h2>
   <p class="lead">Here is your unique short code -----  <%= shortURL %> </p>


    <p><a href="<%=longURL%>">Click Here To Visit <%= longURL %> </a></p>
 </div>
</div>

<div>


</div>

</body>
</html>