<!-- views/urls.show.ejs -->

<!DOCTYPE html>
<html>
<head>
  <header>
    <% include partials/_header %>
</header>
  <title></title>
</head>
<body>

<div>
  <%= shortURL %>
  <%= longURL %>
</div>

</body>
</html>